@font-face {  
    font-family: 'pixel';
    src: url('BoutiqueBitmap7x7.ttf');  
    font-weight: normal;  
    font-style: normal;  
}
@font-face {  
    font-family: 'japan';
    src: url('setofont.ttf');  
    font-weight: normal;  
    font-style: normal;  
}
